//basic configurations
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop
ORDER: Base + typography > general layout + grid > page layout > components
1em = 16px
*/
@mixin respond($breakpoint) {
  @if $breakpoint == f-hundred {
    @media only screen and (max-width: 31.25em) {
      @content;
    } //500px
  }

  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    } //600px
  }

  @if $breakpoint == e-hundred {
    @media only screen and (max-width: 50em) {
      @content;
    } //800px
  }

  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    } //900px
  }

  @if $breakpoint == thousand {
    @media only screen and (max-width: 62.5em) {
      @content;
    } //1000px
  }

  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    } //1200px
  }

  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    } //1800
  }
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12, 12/16
  }
}

body {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  padding: 3rem;

  @include respond(thousand) {
    padding: 0;
  }

  &::-moz-selection {
    color: #323232;
  }

  &::selection {
    color: #323232;
  }
}

.header {
  height: 100vh;
  // background: linear-gradient(to right, #ebc9d1 50%, #e1e3e2 50%);
  background: linear-gradient(to right, #ebc9d1d2 50%, #e1e3e2bc 50%),
    url("../img/pexels-samad-ismayilov-735552.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
}

/* STICKY NAV*/
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.931);
  box-shadow: 0px 3px 3px gainsboro;
  z-index: 999;
}

.navbar {
  padding: 2.5rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;

  &__logo {
    text-transform: uppercase;
  }

  &__list {
    display: flex;
    align-items: center;
    list-style: none;
    text-transform: capitalize;

    @include respond(phone) {
      flex-direction: column;
      justify-content: space-evenly;
      display: none;
      visibility: hidden;
    }
  }

  &__item {
    margin-right: 4rem;

    @include respond(phone) {
      margin-bottom: 1rem;
    }

    &:hover {
      transform: scale(1.25);
      text-shadow: 0 1rem 1rem rgba(#000, 0.5);
    }
  }

  &__link {
    text-decoration: none;
    color: #000;
    font-size: 1.6rem;
  }
}

// COLLAPSABLE MENU
.toggle-collapse {
  position: absolute;
  right: 3%;
  font-size: 1.6rem;
  cursor: pointer;
  display: none;

  @include respond(phone) {
    display: block;
  }
}

.show-menu {
  display: block;
  visibility: visible;
}

.hero {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  -webkit-animation: move-in-left 1.5s ease-in-out;
  animation: move-in-left 1.5s ease-in-out;
  text-align: center;

  &__title {
    text-transform: uppercase;
    font-size: 6.4rem;
    font-weight: 900;
    letter-spacing: 0.6rem;
    color: rgba(#323232, 0.85);
    text-shadow: 2rem 1rem 1rem rgba(#000, 0.2);
    margin-bottom: 2.2rem;

    @include respond(phone) {
      font-size: 5rem;
    }

    @include respond(f-hundred) {
      font-size: 4rem;
    }
  }

  &__tagline {
    text-align: center;
    color: rgba(#323232, 0.85);
    font-size: 2.4rem;
    letter-spacing: 0.15rem;
    text-transform: capitalize;
  }
}

@-webkit-keyframes move-in-left {
  0% {
    left: 0%;
    opacity: 0;
  }

  80% {
    left: 52%;
    opacity: 0.8;
  }

  100% {
    left: 50%;
    opacity: 1;
  }
}

@keyframes move-in-left {
  0% {
    left: 0%;
    opacity: 0;
  }

  80% {
    left: 52%;
    opacity: 0.8;
  }

  100% {
    left: 50%;
    opacity: 1;
  }
}

// SECTION-TRENDING

.trending {
  height: auto;
  padding: 10rem;
  position: relative;

  @include respond(tab-land) {
    padding: 9rem;
  }

  @include respond(e-hundred) {
    padding: 7rem;
  }

  @include respond(phone) {
    padding: 6rem;
  }

  &__carousel {
    margin-top: 10rem;
  }

  &__image {
    height: 35rem;
    width: 30rem;
    transform: scale(0.95);
    border-radius: 0.5rem;

    @include respond(tab-port) {
      height: 33rem;
      width: 28rem;
    }

    &:hover {
      transform: scale(1);
    }
  }
}

.carousel-cell {
  margin-right: 5rem;
}
.main-carousel:hover :not(:hover) {
  transform: scale(0.9);
}

// HEADING
.heading {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
}

// PRIMARY HEADING
.heading--primary {
  font-size: 2.4rem;
  color: rgba(#323232, 0.85);
  letter-spacing: 0.4rem;
}

// BACKGROUND HEADING
.heading--background {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%);
  font-size: 6.4rem;
  color: rgba(#323232, 0.1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  @include respond(phone) {
    top: 5%;
  }

  @include respond(f-hundred) {
    font-size: 5.4rem;
  }
}

//SECTION-ABOUT
.about {
  padding: 0rem 12rem 12rem 12rem;
  height: auto;
  display: flex;
  background-color: rgba(#777777, 0.25);
  align-items: flex-start;
  @include respond(tab-land) {
    padding: 0 10rem 10rem 10rem;
  }

  @include respond(e-hundred) {
    padding: 0 7rem 7rem 7rem;
  }

  @include respond(phone) {
    padding: 0 6rem 6rem 6rem;
    flex-direction: column;
    align-items: center;
  }

  &__div--photo {
    height: 50rem;
    width: 200rem;
    background: linear-gradient(rgb(243, 18, 243), #eb77e1),
      url("../img/pexels-sadman-chowdhury-2747267.jpg");
    background-size: cover;
    background-position: bottom;
    margin-right: auto;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 86%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 86%, 0 100%);

    @include respond(phone) {
      height: 35rem;
      width: 40rem;
      margin: 0 auto;
    }

    @include respond(f-hundred) {
      height: 30rem;
      width: 32rem;
    }
  }

  &__div--description {
    margin: 12rem 0 0 15rem;

    @include respond(phone) {
      text-align: center;
      margin: 5rem 0;
    }
  }

  &__heading {
    font-size: 6rem;
    word-spacing: 0.5rem;
    letter-spacing: 2px;
    margin-bottom: 4rem;

    @include respond(e-hundred) {
      font-size: 4.5rem;
    }
  }

  &__description {
    font-size: 1.6rem;
    text-transform: capitalize;
    letter-spacing: 3px;
  }
}

// SECTION-COLLECTIONS
.collections {
  height: auto;
  padding: 10rem 0;
  position: relative;

  @include respond(tab-land) {
    padding: 9rem 0;
  }

  @include respond(e-hundred) {
    padding: 7rem 0;
  }

  &__div {
    margin-top: 7rem;
    background-color: #ebc9d1;
    padding: 5rem;
    display: flex;
    justify-content: space-evenly;

    @include respond(e-hundred) {
      flex-wrap: wrap;
    }

    @include respond(phone) {
      flex-direction: column;
      align-items: center;
      padding: 2.5rem;
      margin-top: 4rem;
    }
  }

  &__single {
    height: 25rem;
    width: 25rem;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 3rem;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  &__title {
    font-size: 1.6rem;
    text-transform: uppercase;
    text-align: center;
    color: #323232;
    margin-top: 1rem;
  }

  &__img {
    height: 25rem;
    width: 25rem;
    border-radius: 0.5rem;

    @include respond(thousand) {
      height: 22rem;
      width: 22rem;
    }
  }
}

// SECTION TESTIMONY
.testimony {
  position: relative;
  height: auto;
  padding: 7rem;
  background-color: rgba(#777777, 0.25);
  @include respond(tab-land) {
    padding: 6rem;
  }

  @include respond(e-hundred) {
    padding: 4.5rem;
  }

  &__carousel {
    margin-top: 10rem;
  }

  &__cell {
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 8rem;
    background-color: #fff;
    transform: skew(-20deg);
    box-shadow: 2rem 2rem 2rem rgba(#000, 0.5);

    @include respond(phone) {
      padding: 2.5rem;
    }

    @include respond(phone) {
      transform: skew(0deg);
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      padding: 2rem;
    }
  }

  &__img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    transform: skew(20deg);
    margin-right: 3rem;

    @include respond(phone) {
      transform: skew(0deg);
      margin-bottom: 2rem;
    }
  }

  &__div {
    transform: skew(20deg);
    color: #323232;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include respond(phone) {
      align-items: center;
      transform: skew(0deg);
    }
  }

  &__description {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    text-transform: capitalize;
  }

  &__name {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #eb77e1;
    font-weight: 900;
  }
}

//SECTION-SERVICES

.services {
  height: auto;
  position: relative;
  padding: 10rem;

  @include respond(tab-land) {
    padding: 9rem;
  }

  @include respond(e-hundred) {
    padding: 7rem;
  }

  &__box {
    display: flex;
    margin-top: 7rem;

    @include respond(phone) {
      flex-direction: column;
    }
  }

  &__div {
    padding: 3rem;
    word-spacing: 0.5rem;
    letter-spacing: 0.2rem;
    text-align: center;
  }

  &__icon {
    font-size: 4rem;
    background: linear-gradient(to right, #ff00ea, #f803ec);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  &__title {
    font-size: 1.5rem;
    color: #323232;
    margin: 2rem 0;
  }

  &__description {
    font-size: 1.3rem;
    color: #777777;
  }
}

//MAP

.map {
  height: 50vh;
  background-color: #ebc9d1;
  padding: 2rem;
}
#map {
  width: 100%;
  height: 45vh;
}

.marker {
  height: 4.2rem;
  width: 2.5rem;
  background: url("../img/location-pin.png");
  background-size: cover;
  background-position: center;
}

// FOOTER
.footer {
  height: auto;
  background-color: #dddddd;
  padding: 6rem;
  display: flex;
  justify-content: space-evenly;
  color: #323232;

  @include respond(tab-land) {
    padding: 5rem;
  }

  @include respond(e-hundred) {
    padding: 3.5rem;
  }

  @include respond(f-hundred) {
    flex-direction: column;
    align-items: center;
  }

  &__div {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;

    @include respond(phone) {
      padding: 2rem;
    }
  }

  &__logo {
    font-size: 1.4rem;
    margin-bottom: 4rem;
  }

  &__media-icons {
    font-size: 2.4rem;
  }

  &__heading {
    font-size: 1.4rem;
    margin-bottom: 2rem;
    text-transform: capitalize;
  }

  &__items {
    font-size: 1.4rem;
    text-transform: capitalize;
    &:not(:last-child) {
      margin-bottom: 2.5rem;
    }
  }

  &__links {
    color: #eb77e1;
    text-decoration: none;

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  .fa-map-marker,
  .fa-phone,
  .fa-envelope {
    margin-right: 1.2rem;
  }
}
